.d-block{
    display: block;
    background-color: aquamarine;
    border:1px solid black;
    width: 100px;
    height: 100px
    ;
    padding: 15px;

    
}
.d-inline{
    display: inline;
    background-color: pink;
    width: 100px;
    height: 200px;
    padding: 15px;
    
}
.d-inline-block{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    border: 1px solid blue;
    padding: 15px;

}
.parent{
width:400px;
height: 200px;
background-color: red;
/* width를 300으로 바꿀시 min은 400 유지 max는 같이줄어듬 */
/* width를 500으로 바꿀시 max는 400 유지 min는 같이늘어남 */
}
.parent > .min{
    min-width: 400px;
    min-height: 100px;
    background-color: orange;
}
.parent >  .max{
    max-width: 400px;
    max-height: 100px;
    background-color: rebeccapurple;
}
.box {
background-color: beige;
border:1px solid black;
}
.box-px {
    width: 50px;
    height: 50px;
}
.box-view {
    width: 50vw;
    height: 50vw;
}
.box-per{
    width: 50%;
    height: 50%;
}
.rem{
    font-size: 2rem;
}
.em{
    font-size: 2em;
}
.square{
    display: inline-block;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.border{
background-color: yellow;
border:3px solid red orange green;
border-color: blue;
border-width: 3px;
border-style: dotted;
}
.rounded{
background-color: yellowgreen;
border-radius: 10px 50%;

}
.box-sizing{
    padding: 20px;
    border: 15px solid red;
    background-color: orange;
}
.contente-box{
    box-sizing: content-box;

}
.border-box{
    box-sizing: border-box;
}
.d-none {
    /* display: none; */
    background-color: red;
    }
.invisible {
    /* visibility: hidden; */
    background-color: orangered;
    }
.opacity-0 {
    /* opacity: 0; */
    background-color: tomato;
    }
.invisible:hover{
    
    opacity: 0;
}
.overflow-hidden{
    overflow: hidden;
}
.overflow-scrool{
    overflow: scroll;
    width: 50px;
}
.overflow-auto{
    overflow: auto;
}
.overflow-visible{
    overflow: visible;
}