<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>

    </style>
</head>
<body>
    <form id="loginForm">
        <div>
            <label for="username">아이디</label>
            <input type="text" id="username" name="username" placeholder="Username" required>
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <p id="errorMessage" style="color: red;"></p>

    <script>
        document.getElementById('loginForm').onsubmit = function(event) {
            event.preventDefault(); // 폼 기본 제출 동작 방지

            // 폼 데이터 수집
            var formData = {
                username: document.getElementById('username').value,
                password: document.getElementById('password').value
            };

            // AJAX 요청 설정
            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
            })
            .then(response => response.json())
            .then(data => {
                if (data.loggedIn) {
                    window.location.href = '/home'; // 로그인 성공 시 리다이렉션
                } else {
                    document.getElementById('errorMessage').innerText = data.message; // 오류 메시지 표시
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        };
    </script>
</body>
</html>
