main{
    .ListContainer{
        .TodoList{
            border: 2px dashed papayawhip;
            color: pink;
        }
        .DoneList{
            border: 2px dashed blue;
            color:red
        }
    }
}